#display
{
    width:100%;
    padding: 35px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:rgb(88, 88, 88);
    color:rgb(111, 236, 8);
}
body
{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}


#calculator
{
    font-family:Arial, sans-serif;
    background-color:rgb(41, 41, 41);
    border-radius: 80px;
    max-width:500px;
    overflow:hidden;
}
#keys
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding: 25px;
}



button
{
    width: 100px;
    height: 100px;
    border-radius:1000px;
    background-color:rgb(107, 107, 107);

    color:rgb(0, 0, 0);
    font-size: 2rem;
    font-weight:bold;
    cursor:pointer;
}
button:hover
{
    background-color:rgb(183, 183, 183);
}
button:active
{
    background-color:rgb(236, 236, 236);
}
.operator
{
    background-color:rgb(98, 205, 21);
}